.container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
  width: 400px;
  height: 250px;
}
